<!-- <div [@routerTransition]>
    <app-page-header [heading]="'Endpoints'" [icon]="'fa-table'"></app-page-header>
<button style="font-size:19px" float="left">Add Endpoint<i class="fa fa-plus-circle"></i></button> &nbsp;
<br/>


<i style="font-size:24px" ></i>
    <div class="row">
        <div class="col-lg-6">
           <form role="form">
              <fieldset class="form-group" >
                <label>Filter</label> &nbsp;
                <!-- <input class="form-control" > -->
<!-- <span class="fa fa-search " width="15px" height="15px" ></span> &nbsp;
                <input name="q" placeholder="Search endpoint... " autocomplete="off" aria-label="Search endpoint..." type="search" class="header__searchInput___102CH f5 fw3 black bg-white relative" element="input" value="">
              </fieldset>


            </form>  
        </div> 
    </div>  

   
</div> -->

<div class="container-fluid">
    <div class="row">
        <h2 class="heading">ENDPOINTS</h2>
        <button class="button">Addbutton</button>
    </div>
</div>
<hr>
<div class="borderbox">
    <div class="row">
        <p>Filter</p>
        <!-- <div class="search">
            <i class="fa fa-search">
                <input class="fa fa-search" type="text" placeholder="searchendpoint">
            </i>
        </div> -->
        <form>
            <input type="text" name="search" placeholder="Search..">
        </form>
    </div>
</div>
<hr>
<div class="module">
    <div class="row">
        <p>Database servers</p>


    </div>

</div>

<div class="module">
    <div class="container-fluid">
        <div class="col-sm-4">
            <h1 class="image">
                <img src="assets/images/sap.png" alt="sap" width="90px">
                <h3 class="Database">Database servers</h3>
                <br>
                <p class="ip">4IPS/SAP GW(EG)</p>
                <br>
                <p class="ip"> 2projects</p>
            </h1>
        </div>
    </div>

</div>
<div _ngcontent-c4="" style="border: 1px solid;/* padding-top:90px; */border-radius: 22px;padding: 9px;">
    <div id="x" style="position:relative;/* padding: 20px; */">
    <span _ngcontent-c4="" class="glyphicon glyphicon-search" style="color:black;position: absolute;left: 6px;top: 6px;">
    </span>
    <input _ngcontent-c4="" placeholder="search" style="color:black;border-radius:20px;padding-left: 23px;border: 1px solid #000;"
    type="text">
    </div>
</div>


