<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small> Projects Overview</small></h2>
    <!-- <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->
    <hr>
    <div class="row">
        <!-- <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div> -->
    </div>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Testing project - Users
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Users</th>
                            <th>status</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Connected</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Disconnected</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>Idle</td>
                           
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Testing Project Services</div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Service</th>
                            <th>Status</th>
                           
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>GitHub</td>
                            <td>connected</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>CircleCi</td>
                            <td>Idle</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>AWS</td>
                            <td>Disconnected</td>
                            
                        </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead class="thead-default">
                        <tr>
                            <th>Bookmarks</th>
                            <!-- <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <!-- <td>Otto</td>
                            <td>@mdo</td> -->
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <!-- <td>Thornton</td>
                            <td>@fat</td> -->
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <!-- <td>the Bird</td>
                            <td>@twitter</td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="card mb-3">
                <div class="card-header">Bordered table</div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            
                            <th>Bookmarks</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Testing EG</td>
                            <td>Adam Uhlir</td>
                            <td>Rajesh Narayan</td>
                        </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div> -->
            <!-- <div class="card mb-3">
                <div class="card-header">Small table</div>
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Testing projects - Last 10 actions</div>
                <div class="card-body table-responsive">
                    <table class="table table-inverse">
                        <thead>
                        <!-- <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr> -->
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>2018-01-01 13.12 </td>
                            <td>Adam connected from 10.51.20.1</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>2018-01-01 13.12 </td>
                            <td>Adam created new flow</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>2018-01-01 13.12 </td>
                            <td>Rajesh disconnected from 10.51.20.1</td>
                        </tr>
                        <tr>
                                <th scope="row">4</th>
                                <td>2018-01-01 13.12 </td>
                                <td>Adam created new EG: Testing EG</td>
                        </tr>
                        <tr>
                                <th scope="row">5</th>
                                <td>2018-01-01 13.12 </td>
                                <td>Rajesh connected from 10.51.20.1</td>
                    
                        </tr>
                        <tr>
                                <th scope="row">6</th>
                                <td>2018-01-01 13.12 </td>
                                <td>adam connected from 10.51.20.1</td>

                        </tr>
                        <tr>
                                <th scope="row">7</th>
                                <td>2018-01-01 13.12 </td>
                                <td>Adam created new Flow</td>
                        </tr>
                        <tr>
                                <th scope="row">8</th>
                                <td>2018-01-01 13.12 </td>
                                <td>Rajesh disconnected from 10.51.20.1</td>
                        </tr>
                        <tr>
                                <th scope="row">9</th>
                                <td>2018-01-01 13.12 </td>
                                <td>Adam created new EG: Testing EG</td>
                        </tr>
                        <tr>
                                <th scope="row">10</th>
                                <td>2018-01-01 13.12 </td>
                                <td>Rajesh connected from 10.51.20.1</td>
                    
                        </tr>
                        <tr>
                                <th scope="row">11</th>
                                <td>2018-01-01 13.12 </td>
                                <td>adam connected from 10.51.20.1</td>

                        </tr>
                        <tr>
                                <th scope="row">12</th>
                                <td>2018-01-01 13.12 </td>
                                <td>Adam created new Flow</td>
                        </tr>



                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Statistics</div>
                <div class="card-body table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Projects</th>
                            <th>5</th>
                           
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>User accounts</th>
                            <th>10</th>
                           
                        </tr>
                        <tr>
                                <th>Admin accounts</th>
                                <th>10</th>
                               
                        </tr>
                        <tr>
                                <th>Service accounts </th>
                                <th>9</th>
                               
                        </tr>
    
                        </tbody>
                    </table>
                </div>
            
        </div>
    </div>
    <hr/>
    
    <div class="row">
        <div class="col-lg-8">
            
        </div>
        <!-- /.col-lg-8 -->
       
        <!-- /.col-lg-4 -->
    </div>
</div>
