<div class="container-fluid">
    <div class="row">
    
  <div class="col-sm-5"> <h1 class="project">NewEndPoint</h1></div>
     
  <div class="col-sm-5 pad-top">
      <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
  
  
        <button class="btn btn-primary new-btn pull-right">Next</button>
      </div>  
  
    </div>
  </div>
  <div class="container">
    <div class="row">
  
  
      <div class="breadcrumbs">
        <!-- <h1>BREADCRUMBS</h1> -->
        <ul>
          <li>
            <a href="">Endpointsinformations</a>
          </li>
          <li>
            <a href="super-admin-reports.component.html">GateWay</a>
          </li>
          <li>
            <a href="">Confirmation</a>
          </li>
        </ul>
      </div>
    </div>
      <div class="innerNewEndPoint">      
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <label>Name</label>
          </div>
          <div class="col-xs-12 col-sm-9">
              <input type="text" class="" id="comment" />
          </div>        
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <label>IP Address</label>
          </div>
          <div class="col-xs-12 col-sm-9 main-text">
              <textarea class="" id="comment"></textarea>
              <span class="tag-line">10.4.1.2 &nbsp; <i class="fas fa-times-circle"></i></span>
              <span class="tag-line2"> 10.5.4.2 -10.5.4.10 &nbsp;<i class="fas fa-times-circle"></i></span>
          </div>
         
        </div>
  
  
          <!-- <div class="col-xs-12 col-sm-3">
              <label>IP</label>
            </div>
            <div class="col-xs-12 col-sm-9">
                <textarea class="" id="comment"></textarea>
            </div> -->
      </div>
      <div class="innerNewEndPoint">      
          <div class="row">
              <div class="col-xs-12 col-sm-3">
                  <label>Scope</label>
                </div> 
                <div class="col-xs-12 col-sm-9">
                    <select class="combobox">
                        <option></option>
                        <option value="project">project</option>
                        <option value="organization">organization</option>
                        <option value="global">global</option>
                      </select>
                  
          </div>        
          </div>        
      </div>
  
      <div class="innerNewEndPoint">      
          <div class="row">
              <div class="col-xs-12 col-sm-3">
                  <label>Type of Gateway</label>
                </div> 
                <div class="col-xs-12 col-sm-9">
                    <select class="combobox">
                        <option></option>
                        <option value="Endpoint Gateway">Endpoint Gateway</option>
                        <option value="Edge Gateway">Edge Gateway</option>
                      </select>
          </div>        
          </div>        
      </div>
  
      <div class="innerNewEndPoint">      
          <div class="row">
              <div class="col-xs-12 col-sm-3">
                  <label>Icon</label>
                </div> 
                <div class="col-xs-12 col-sm-9 iconDiv">
                    <a><img class="img2" src="assets/images/eQxxebz2Xe.png"></a>
                    <a><img class="img2" src="assets/images/hQungFWqyk.png"></a>
                    <a><img class="img2" src="assets/images/KeuqE95ykk.png"></a>
                   <button>Custom Icon</button>
          </div>        
          </div>        
      </div>
  
  
  </div>
  